# Temporary VIM files
**/*.sw[p-x]

# Generated output
fix/*.xml
fix/*.xml
nrm/*.xml
idx/*.debug
idx/*.xml
wrd/*.xml
wrd/*.xml
tbl/*.tsv
tbl/*.debug
tbl/*.schema
tsv/*.debug
tsv/*.schema
tsv/*.tsv
tsv/*.log
tst/*.xml
tst/*.tsv
